* {
   margin: 0px;
   padding: 0px;
}

.menu-container {
   background-color:
      rgb(128, 146, 127);
   padding: 10px;
   color: white;
   list-style: none;
   display: flex;
   align-items: center;
   justify-content: space-around;

}

.masum {
   width: 100px;

}

.menus {
   display: flex;
}

.list {
   margin-right: 10px;
   padding-right: 7px;
   font-size: 18px;
   cursor: pointer;
   
}
nav li a{
   text-decoration: none;
   color:black

}

.list:hover {
   color: rgb(122, 33, 210);
}

.banner-container {
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 100vh;
   background-image: linear-gradient(45deg, #cec3c3, #261515);
}

.banner-img {

   width: 400px;
}

.btn {
   padding: 15px 20px;
   background-color: red;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;

}

.text {
   font-size: 50px;

}

.lorem {
   margin-top: 20px;
   margin-bottom: 20px;

}

.about-container {
   display: flex;
   align-items: center;
   justify-content: space-around;

}

.about-img {
   width: 300px;


}

.about {
   text-align: center;
   padding: 20px;
   text-shadow: darkblue;
   margin-top: 20px;
   ;
}

.box {
   width: 230px;
   height: 250px;
   box-shadow: 4px 4px 15px gray;
   background-color: black;
   text-align: center;
   padding: 15px;
   color: white;

}

.icon {
   width: 70px;
}

.box-btn {
   background-color: gray;
   margin-top: 10px;
}

.box-title {
   padding: 10px;
}

.box-descripton {
   padding: 5px;
}

.service-container {
   display: flex;
   justify-content: space-around;
   background-image: linear-gradient(45deg, #cec3c3, #261515);

}

.useful-links {
   list-style: none;
}

.box-footer {
   display: flex;
   justify-content: space-around;
   background-color: rgb(171, 87, 87);
   color: white;
   padding: 10px;
   margin-top: 20px;
}